<form action="<%= action %>" method="post">
  <%- include('./username-field') %> <%- include('./password-fields', { action }) %>
  <button type="submit" class="btn btn-secondary">Submit</button>
  <!-- TURN ON WHEN NEEDED -->
  <!-- <% if (action === '/login') { %>
    <a href="/register" class="btn btn-link">Register</a>
  <% } else { %>
    <a href="/login" class="btn btn-link">Login</a>
  <% } %>
  <a href="/forgot" class="btn btn-link">Forgot Password</a> -->
</form>
