<form action="/drinks<%= locals.query %>" method="post" id="drinks-form" oninput="preview.value=((parseInt(quantity.value) * (parseFloat(alcoholPercent.value) / 100)) / 0.6).toFixed(3)">
  <div class="form-group">
    <label for="date">Date</label>
    <input id="date" type="datetime-local" class="form-control" name="date" value="<%= dateTime %>" />
  </div>
  <div class="form-group">
    <label for="quantity">Quantity (in ounces)</label>
    <input id="quantity" type="number" class="form-control" step="0.01" name="quantity" required/>
  </div>
  <div class="form-group">
    <label for="alcoholPercent">% alcohol</label>
    <input id="alcoholPercent" type="number" class="form-control" step="0.01" name="alcoholPercent" required/>
  </div>
  <p>
    Number of drinks added would be: <output form="drinks-form" id="preview" name="preview" for="quantity+alcoholPercent" />
  </p>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
