<div class="form-group">
  <label>Password:</label>
  <input type="password" name="password" class="form-control" required />
</div>
<% if (action === '/register' || action === '/reset') { %>
  <div class="form-group">
    <label>Confirm password:</label>
    <input type="password" name="passwordConfirmation" class="form-control" required />
  </div>
<% } %>
