<h1>Forgot Password</h1>
<br />
<form action="/forgot" method="post">
  <%- include('./partials/username-field') %>
  <button type="submit" class="btn btn-secondary">Submit</button>
  <a href="/login" class="btn btn-link">Login</a>
</form>
